@use './colors.scss' as *;
@use './variables.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: $body-font-family;
}

.v-main {
  background-color: $body-background;
  color: $primary;
}

.v-btn {
  text-transform: capitalize !important;
  font-size: 16px !important;
}
